footer {
  border: 1px solid black;
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 100px;
  font-weight: lighter;
  min-height: 60px;
}

@media screen and (max-width: 810px) {
  footer {
    padding: 0 50px;
  }
}
