body {
  margin: 0px;
  height: 100vh;
  font-family: sans-serif;
  min-width: 425px;
}

@media screen and (max-width: 810px) {
  main {
      justify-content: space-between;
      padding: 0 50px;
  }

  header {
      flex-direction: column;
      align-items: center;
      padding: 0 50px;
  }

  footer {
      padding: 0 50px;
  }

  #website-links {
      width: 100%;
  }
}

@media screen and (max-width: 725px) {
  main {
      justify-content: space-around;
  }

  header {
      padding: 0 50px;
  }

  footer {
      padding: 0 50px;
  }

  .card-item {
      width: 100vw;
  }
}