main {
  height: 83vh;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 0 100px;
  min-height: 500px;
}

@media screen and (max-width: 810px) {
  main {
    justify-content: space-between;
    padding: 0 50px;
  }
}

@media screen and (max-width: 725px) {
  main {
    justify-content: space-around;
  }
}
