main {
    height: 83vh;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 0 100px;
    min-height: 500px;
}